@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
 /* https://colorhunt.co/palette/3c625561876ea6bb8deae7b1 */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
}
